*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
    text-decoration: none;
    list-style-type: none;
}
:root{
    
} 
header{
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding-inline: 5rem;
}
header img{
    width: 250px;
    height: 70px;
}

header p span:first-child{
    display: inline-block;
    width:12px;
    height:12px;
    background-color: rgb(18,40,201);
    border-radius: 50%;
}
header p span:last-child{
    margin-inline-start: .65rem;
    font-size: 1.3rem;
    cursor: pointer;
    color: rgb(18,40,201);
}
#modal-navbar{
    background-image: url(../images/backdrop.jpg);
}
#modal-dialog{
    width: 100%;
    background-image: url(../images/backdrop.jpg);
}
#modal-content{
    border: none;
}
#modal-header, #modal-footer{
    border: none;
}
.carousel-item.first-carousel, .second-carousel, .third-carousel{
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.first-carousel{
    background-image: url(../images/old-couples2.jpg);
}
.second-carousel{
    background-image: url(../images/guy-calling2.jpg);
}
.third-carousel{
    background-image: url(../images/old-couples2.jpg);
}
.carousel-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(108,192,73,.20);
}
#carouselExampleInterval #carousel-indicators button{
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
}
.menu{
    display: none;
}
.menuClass{
    display: flex;
}
.menuClass > div{
    width: 50%;
    
}
#menu ul li a{
    font-family: 'Young Serif', serif;
    text-decoration: none;
    color: grey
}
.menuClass img{
    max-width: 100%;
}
.menuClass > div ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.menuClass i{
    font-size: 5rem;
    color: rgb(18,40,201);
}
.menu-tab-closure{
    position: relative;
    top:15%;
}
@media screen and (min-width: 578px) {   
}
@media screen and (min-width: 790px) {
    .first-carousel{
        background-image: url(../images/old-couples.jpg);
    }
    .second-carousel{
        background-image: url(../images/guy-calling.jpg);
    }
    .third-carousel{
        background-image: url(../images/old-couples.jpg);
    }
}
@media screen and (min-width: 1025px) {
    
}
@media screen and (min-width: 1201px) {
    
}