*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
}
:root{
    --pri-font-family: 'Montserrat', sans-serif;
} 
.header1{
   display: flex;
   justify-content: space-between;
   padding: 2rem 5rem;
}
.header1 img{
    width: 250px;
    height: 70px;
}
.header1 ul{
    display: flex;
    gap: 2rem;
}
.header1 ul li a{
    text-decoration: none;
    color: #fff;
    border-bottom: none;
    padding: .2rem;
}
.header1 ul li a:hover{
    border-bottom: 1.5px solid #fff;
}
.section1-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block-start: 3.5rem;
    padding-inline: 2rem;
}
.section1-socials{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    top:14%;
}
.section1-socials a i{
    color: #fff;
    font-size: 1.3rem;
    transform: scale(1, 1);
    transition: scale .25s;
}
.section1-socials a i:hover{
    color: #fff;
    font-size: 1.3rem;
    transform: scale(1.2, 1.2);
    transition: scale .25s;
}
.section-one-writ{
    color: #fff;
    width: 80%;
    text-align: center;
}
.section-one-writ h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 3.5rem;
    letter-spacing: .2rem;
}
.section-one-writ a{
    color: #fff;
    display: block;
    background-color: rgb(18,40,201);
    padding: .7rem 1.5rem;
    border-radius: 50px;
    text-decoration: none;
    margin-block-start: 5rem;
    margin-inline: auto;
    width: 15rem;
}
.section-one-writ a:hover{
    background-color: rgb(165, 176, 255);
}


.carousel-item.first-carousel, .second-carousel, .third-carousel{
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.first-carousel{
    background-image: url(../images/old-couples2.jpg);
}
.second-carousel{
    background-image: url(../images/guy-calling2.jpg);
}
.third-carousel{
    background-image: url(../images/old-couples2.jpg);
}
.carousel-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,50,.6);
}
#carouselExampleInterval #carousel-indicators button{
    border-radius: 50%;
    display: block;
    width: 10px;
    height: 10px;
}



/********************FOR SECTION TWO*****************************************/
.section-two{
    height: 100vh;
    background-image: linear-gradient(180deg, #fff, rgba(18,40,201,.2));
}
.section-two .header1, .section-4 .header1{
    padding: .5rem 5rem;
}
.section-two .header1 a, .section-4 .header1 a{
    color: rgb(18,40,201);
}
.section:nth-child(2){
    background-color: #fff
}
.section-two .services{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block-end: 1.2rem;
}
.section-two .services > div{
    width: 400px;
    height: 250px;
    box-shadow: 0px 0px 30px rgba(42, 44, 56, 0.07);
}
.section-two .services > div:first-child{
    background-image: url(../images/1111.jpg);
    background-size: contain;  
}
.section-two .services > div:nth-child(2){
    background-image: url(../images/Raise-Capital.jpg);
    background-size: contain;
}
.section-two .services > div:nth-child(3){
    background-image: url(../images/Car-Insurance.jpg);
    background-size: contain;
}
.section-two .services > div:nth-child(4){
    background-image: url(../images/Health-Insurance.jpg);
    background-size: contain;
}
.section-two .services > div:nth-child(5){
    background-image: url(../images/Tax.jpg);
    background-size: contain;
}
.section-two .services > div:last-child{
    background-image: url(../images/Tax-Audit.jpg);
    background-size: contain;
   
}
.service-products > div{
    background-color: rgba(50,50,50,.75);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(1, 1);
    transition: transform .2s ease-in-out;
}
.service-products > div:hover{
    transform: scale(1.1, 1.1);
    transition: transform .2s ease-in-out;
}
.service-products h3{
    color: #ffffff;
}
.service-products a{
    text-decoration: none;
    color: #fff;
    background-color: rgb(18,40,201);
    padding: .5rem 2rem;
    border-radius: 50px;
}
.service-products a:hover{
    background-color: rgba(18,40,201, .6);
}

/************** PortFolio ******************/
.portfolio{
    background-color: #fff;
    height: 100vh;
}
.portfolio-header{
    margin-block-end: 2rem;
}
.portfolio-header h1{
    font-weight: 600;
    text-align: center;
}
.portfolio-header > div{
    width: 19%;
    margin: 2.5px auto;
}
.portfolio-header .line1{
    border-bottom: 1px solid rgb(200, 200, 200);
}
.portfolio-header .line2{
    border-top: 1px solid rgb(200, 200, 200);
}
.portfolio-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.portfolio-item{
    width: 22%;;
    height: 250px;
    box-shadow: 0px 0px 20px rgb(200,200,200);
}
.portfolio-cover{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio-cover p{
    color: #fff;
    font-size: .75rem;
    text-align: center;
    padding: 2rem;
}
.portfolio-cover > div:first-child{
    width:40%
}
.portfolio-cover img{
    max-width: 100%;
    margin-inline: auto;
}
.portfolio-item:nth-child(1){
    background-image: url(../images/blog-item-img-1.jpg);
}
.portfolio-item:nth-child(2){
    background-image: url(../images/blog-item-img-2.jpg);
}
.portfolio-item:nth-child(3){
    background-image: url(../images/blog-item-img-3.jpg);
}
.portfolio-item:nth-child(4){
    background-image: url(../images/office-space.jpeg);
}
.portfolio-item:nth-child(5){
    background-image: url(../images/office-space.jpeg);
}
.portfolio-item:nth-child(6){
    background-image: url(../images/blog-item-img-3.jpg);
}
.portfolio-item:nth-child(7){
    background-image: url(../images/blog-item-img-2.jpg);
}
.portfolio-item:nth-child(8){
    background-image: url(../images/blog-item-img-1.jpg);
}




/************** blogPosts******************/
.section-4{
    background-color: #fff;  
}
.section-4 .blog{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.blog-posts{
    width: 25%;
    height: 450px;
    box-shadow: 0px 0px 14px rgba(200, 200, 200, .8);
    border-radius: 7px;
}
.blog-posts img{
    max-width: 100%;
    border-radius: 7px 7px 0px 0px;
}
.blog-writ{
    padding-inline: .85rem;
}
.section-4 .blog a, .section-4 .blog h5, .section-4 .blog p, .section-4 .blog span{
    font-family: 'Montserrat', sans-serif;
}
.section-4 .blog a{
    text-decoration: none;
    color: #666;
}
.section-4 .blog h5{
    margin-block: 1.3rem;
    font-weight: 600;
}
.section-4 .blog-writ > p{
    margin-block: .5rem;
    font-weight: 300;
    font-size: .89rem;
}
.blog-footer{
    display: flex;
    justify-content: space-between;
    font-size: .82rem;
}
.blog-footer p{
    color: #666;
}

/*****************FOOTER SECTION******************/

.footer-section .header1 a{
    color: rgb(18,40,201);
}
.footer-body{
    background-color: rgba(250, 250, 250, .7);
    padding-block: 3rem;
}
.footer-body1{
    display: flex;
    justify-content: center;
    padding-block: 2rem;
}
.footer-header h1{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-block-end: 2rem;
}
.footer-body1 > div{
    width: 20%;
    text-align: center;
    border-inline-end: .5px solid #e1e1e1;
    font-family: 'Montserrat', sans-serif;
}
.footer-body1 > div i{
    font-size: 2rem;
}
.footer-body1 > div p{
    font-family: 'Montserrat', sans-serif;
    
}
.footer-body1 > div p:nth-child(2){
    font-size: 1.35rem;
    letter-spacing: .1rem;
    font-weight: 300;
    color: #000
}
.footer-body1 > div p:nth-child(3){
    font-size: .85rem;
    color: #999
}
.contact-form{
    display: flex;
    justify-content: center;
}
.contact-form input{
    padding: 1rem;
    width: 50%;
    border: 1px solid rgba(100,100,100, .9);
    border-right: none;
    font-family: 'Montserrat', sans-serif;
}
.contact-form button{
    background-color: rgb(18,40,201);
    color: #fff;
    border: 2px solid rgba(100,100,100, .9);
    border-left: none;
    padding-inline: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.footer-socials{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-block-end: 1.5rem;
}
.footer-socials i{
    color: rgb(100,100,100);
    font-size: 2rem;
}
@media screen and (min-width: 578px) {   
}
@media screen and (min-width: 790px) {
    .first-carousel{
        background-image: url(../images/old-couples.jpg);
    }
    .second-carousel{
        background-image: url(../images/guy-calling.jpg);
    }
    .third-carousel{
        background-image: url(../images/old-couples.jpg);
    }
}
@media screen and (min-width: 1025px) {
    
}
@media screen and (min-width: 1201px) {
    
}