/* This is the standard css layout*/
@import url('https://fonts.cdnfonts.com/css/bw-modelica-ss01');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*Here insert css variables*/
}
.team h1{
    text-align: center;
    margin-block: 2.5rem 1rem;
}
.member{
    padding: .5rem;
    box-shadow: 0px 0px 20px rgba(200, 200, 200, .6);
}
.member img{
    max-width: 100%;
}
.member-details{
    padding: .7rem;
    text-align: center;
}

/*.member-details a{
    display: inline-block;
    color: rgb(150, 150, 150);
    margin-block-start: .4rem;
}*/
.member-details p:first-child{
    font-size: 1rem;
    font-weight: 700;
    margin-block-end: .2rem;
    color: rgb(70, 70, 70);
}
.member-details p:nth-child(2){
    font-size: .8rem;
    font-weight: 200;
    color: rgb(150, 150, 150);
}
@media screen and (min-width: 578px) {
    
}
@media screen and (min-width: 790px) {
    .team-write{
       padding: 1rem 15rem; 
    }
    .team{
        padding: 5rem 3rem;
    }
    .team > div{
        width:100%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        padding: 2rem 1rem;
        justify-content: center;
    }
   .board > div, .management > div{
        width: 20%;
   }
}
@media screen and (min-width: 1025px) {
    
}
@media screen and (min-width: 1201px) {
    
}
