*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
:root{
    --pri-font-family: 'Montserrat', sans-serif;
} 

.carousel-item.asset-first-carousel, 
.investment-carousel,
.auto-carousel,
.health-carousel,
.tax-carousel
{
    height: 100vh;
    width: 100vw;
    background-size: cover;
}
.asset-first-carousel{
    background-image: url(../images/fine-guy.jpg);
}
.investment-carousel{
    background-image: url(../images/Raise-Capital.jpg);
}
.auto-carousel{
    background-image: url(../images/Car-Insurance.jpg);
}
.health-carousel{
    background-image: url(../images/4.png)
}
.tax-carousel{
    background-image: url(../images/old-couples.jpg)
}
.asset-about{
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 4rem 3rem;
}
.asset-about > div{
    width: 45%;
}
.asset-about-sectors > div{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    column-gap: .5rem;
}
.asset-about-sectors > div > div{
  width: 170px;
  height: 150px;  
  background-image: linear-gradient(180deg, rgba(18,40,201,.8), rgba(18,40,201,.4));
  padding: 1.3rem;
  margin-block-start: .5rem;
  position: relative;
}
.asset-about-sectors > div > div p {
    color: #ffffff;
}
.asset-about-sectors > div > div p:nth-child(2){
    position: absolute;
    bottom: 0;
    right: 10%;
    font-size: 1.4rem;
}
.asset-services{
    background-color: rgb(220, 220, 220);
    padding-block: 2.5rem;
}
.asset-services h2{
    text-align: center;
}
.asset-services > div{
    display: flex;
    gap: 2rem;
    width: 90%;
    margin-inline: auto;
}
.asset-services > div a{
    text-decoration: none;
    color: #333;
    display: block;
    text-align: center;
    padding: 1rem;
    background-color: #ffffff;
    text-align: left;
}
.all-services{
    display: flex;
    max-width: 32%;
    margin-block: .8rem;
    cursor: pointer;
}
.all-services a{
    background-color: transparent;
    text-decoration: underline;
}
.asset-services h4{
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 70, .7);
    padding: .9rem;
    display: flex;
    align-items: center;
    position: relative;
    top:5px
}
.all-services > div:first-child{
    background-size: cover;
    color: #ffffff;
    width: 50%;
    display: flex;
    align-items: center;
}
.all-services > div:nth-child(2){
    background-color: #ffffff;
    padding: .9rem;
    width: 60%;
    justify-content: start;
}
.all-services .corporate-finance{
    background-image: url(../images/fine-guy.jpg);
}
.all-services .sme-advisory{
    background-image: url(../images/partnership.jpg);
}
.all-services .tax-advisory{
    background-image: url(../images/Tax-Audit.jpg);
}
.all-services .management-consulting{
    background-image: url(../images/3.png);
}
.all-services .accounts{
    background-image: url(../images/accounting.jpg);
}
.all-services .car4cash{
    background-image: url(../images/car.jpg);
}
.all-services .health-insurance{
    background-image: url(../images/4.png);
}
.all-services .retail-wealth{
    background-image: url(../images/old-couples.jpg);
}
.all-services .micro-insurance{
    background-image: url(../images/micro-insurance.webp);
}
.asset-milestone{
    padding: 4rem 3rem;
}
.asset-milestone > div{
    display: flex;
    gap:1rem;
    justify-content: center;
    align-items: center;
}
.asset-milestone > div > div{
    width: 25%;
    color: #ffffff;
    padding: 12px;
    display: flex;
    justify-content: center;
}
.asset-leadership > div{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.asset-leadership > div > div{
    display: flex;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid rgb(200, 200, 200);
    padding: 2rem;
    width: 45%;
}
.asset-leadership > div h4{
    font-weight: 600;
}
.asset-leadership img{
    width: 180px;
    height: 180px;
}
.proposal{
    padding: 1rem;
    margin-block-start: 1.5rem;
}
.proposal .form{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form form{
    width: 60%;
}
.form input{
    border: .5px solid rgb(230, 230, 230);
    width: 45%;
    padding: .65rem .4rem;
}
.form textarea{
    border: .5px solid rgb(230, 230, 230);
    width: 91.2%;
    padding: 1rem .4rem;
}
.form-divs{
    display: flex;
    justify-content: center;
    gap: .6rem;
    margin-block-start: .5rem;
}
.form button{
    background-color: rgba(18,40,201,.8);
    color: #fff;
    border: none;
    width: 91.2%;
    padding: .75rem;
}
#loader{ 
    display: none;
}
#result{
    display: flex;
    justify-content: center;
    color: red;
}
.checkbox-div{
    padding: 1rem 3rem;
}
.checkbox-div input{
    width: 30px
}
.other-services{
    padding: .5rem 3rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-block-start: 2rem;
}
.other-services > div{
    border-radius: 0px 10px 0px 10px;
    box-shadow: 0px 0px 10px rgb(230, 230, 230);
    background-image: linear-gradient(180deg, #ffffff, #fff, rgba(18,40,201,.12));
}
.other-services a{
    color: rgb(70, 70, 70);
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 1rem 3rem;
    text-decoration: none;
}
@media screen and (max-width: 578px) {
    .asset-first-carousel{
        background-image: url(../images/1111.jpg);
    }
    .asset-about{
        display: block;
        padding: 1rem 2rem;
    }
    .asset-about > div{
        width: 100%;
    }
    .asset-about-sectors > div > div{
        width: 48%;
    }
    .asset-services > div{
        flex-direction: column;
        gap: 2rem;
    }
    .asset-services h2{
        text-align: center;
        font-family: 'Young Serif', serif;
        font-size: 3rem;
    }
    .asset-services > div > div{
        width: 90%;
        margin: auto;
    }
    .all-services{
        max-width: 95%;
        margin-block: 1.5rem;
        cursor: pointer;
    }
    .asset-milestone > div{
        display: block;
    }
    .asset-milestone > h2{
        font-family: 'Young Serif', serif;
        font-size: 3.2rem;
        text-align: center;
    }
    .asset-milestone > div > div{
        width: 95%;
        margin: .5rem auto;
    }
    .asset-leadership > h2{
        text-align: center;
        font-family: 'Young Serif', serif;
        font-size: 2rem;
    }
    .asset-leadership p{
        font-size: .85rem;
    }
    .asset-leadership img{
        width: 180px;
        height: 100px;
    }
    .asset-leadership > div{
        display: block;
    }
    .asset-leadership > div > div{
        width: 100%;
    }
    .proposal{
        padding: 5rem .5rem;
        margin-top: 3rem;
    }
    .form form{
        width: 90%;
    }
    .other-services{
        display: block;
    }
    .other-services > div{
        margin-block-start: 1.5rem;
    }
    
}
@media screen and (min-width: 790px) {
    .first-carousel{
        background-image: url(../images/old-couples.jpg);
    }
    .second-carousel{
        background-image: url(../images/guy-calling.jpg);
    }
    .third-carousel{
        background-image: url(../images/old-couples.jpg);
    }
}
@media screen and (min-width: 1025px) {
    
}
@media screen and (min-width: 1201px) {
    
}